<ion-view view-title="Emergencies" class="emergencies-view">
  <ion-content>
    <div class="container">
        <div class="row">
            <figures class="col-50x"><img src="img/phone-receiver.png" alt="Call"></figures>
            <figures class="col-50x"><img src="img/rain.png" alt="Rain"></figures>
        </div>
        <div class="row">
            <figures class="col-50x"><img src="img/" alt=""></figures>
            <figures class="col-50x"><img src="img/" alt=""></figures>
        </div>
    </div>
  </ion-content>
</ion-view>