<ion-view view-title="Input information" class="input-info-view">
  <ion-content>
    <div class="row">
    	
    </div>
    <div class="container">
    	<div class="row">
    		<figure class="figure-icon-animal"><img src="img/cow.png" alt="Cow"></figure>
    		<figure class="figure-icon-animal"><img src="img/sheep.png" alt="Sheep"></figure>
    	</div>
    	<div class="row">
    		<figure class="figure-icon-animal"><img src="img/pig.png" alt="Pig"></figure>
    		<figure class="figure-icon-animal"><img src="img/camel.png" alt="Camel"></figure>
    	</div>
    </div>
  </ion-content>
</ion-view>