body {
	background: rgba(46, 204, 113, 0.4);
}

.scroll {
	padding: 15px;
}

.pastora-icon {
	width:90px;
	height: auto;
	margin-left: auto;
	margin-right: auto;

	img {
		width: 100%;
		height: auto;
	}
}

.map-view {
	margin-top: 20px;
}

.col-6x {
	width: 45%;
}

.emergencies-view {
	figure {
		width: 50%;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 20px;
    	padding: 15px;
    	border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		
		&:hover {
			background: rgba(0, 0, 0, 0.2);
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.figure-icon-animal {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin-bottom: 12px;

	&:hover {
		background: rgba(0, 0, 0, 0.2);
	}
	&:nth-child(odd) {
		margin-right: auto;
	}
	&:nth-child(even) {
		margin-left: auto;
	}

	img {
		width: 75%;
		height: auto;
		display: block;
		margin: auto;
	}
}


#map { 
	height: 300px !important;
	min-width: 200px !important;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}